.navbar__section {
  background-color: var(--primary-bg-color);
  color: white;
  padding: 1.5rem 2rem;
  max-height: 15vh;
  display: flex;
  flex-flow: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
  color: black;
}

.cartItem__img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cartItem__details {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.avatar_toggle.dropdown-toggle::after {
  content: none;
}
.dropdown-menu > a.dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.no-btn {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.1);
}
