:root {
  --bg-white: #eef0f3;
  --primary-bg-color: #2874f0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  background-color: var(--bg-white);
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  overflow-y: hidden;
}
.product__body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow-y: hidden;
  margin: 0.5rem;
}
